body {
  font-family: 'Manjari';
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

html, body {
  width:100%;
  min-width: 400px !important;
}

.border-left {
  border-left: 10px solid #000080;
  margin-left: 20px;
  padding-left: 30px;
}

.big-text {
  font-size: 30px;
}

.mid-text {
  font-size: 20px;
}

.links {
  margin-top: 40px;
  line-height: 2em;
}

a:link, a:visited, a:active, a:hover {
  color: black;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  color: #0000CD;
}

/* intro snap */
.intro {
  display: flex;
  position: absolute;
  z-index: 9997;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.intro .background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.intro .logo {
  margin: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.intro .logo img {
  opacity: 0;
}

/* sections */
.sep {
  border: 1px solid #ececec;
  width: 100%;
  margin: 0px;
}

/* wrapper */
#projects {
  height: 100vh;
  min-width: 350px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.lead-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  min-width: 250px;
}

.art_and_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding-left: 3%;
  padding-right: 3%;
}

.project-header {
  display: flex;
  height: 20vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.project-title {
  font-weight: normal;
  font-size: 30px;
  margin: 0px;
  text-align: center;
}

/* Adjust the image size for smaller screens */
@media screen and (max-width: 1200px) {
  .project-header {
    justify-content: left;
  }
  .project-title {
    position: relative;
    left: 170px;
    text-align: left;
  }
}

.art {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  max-width: 35%;
}

.art_small {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30px;
}

.art-image1 {
  width: 50%;
  min-width: 250px;
  height: auto;
}

.gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
}

.project-footer {
  display: flex;
  height: 20vh;
  width: 100%;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
}

.link {
  right: 7%;
}

.next_button {
  font-size: 25px;
  color: lightgray !important;
}

.next_button1 {
  bottom: 9%;
}

@media screen and (min-width: 1199.99px) {
  .art {
    display: flex;
  }
  .art_small {
    display: none;
  }
  #lead .big-text {
    font-size: 40px;
  }
  #lead .mid-text {
    font-size: 26px;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 1200px) {
  .art {
    display: none;
  }
  .art_small {
    display: flex;
  }
  .art-image1 {
    width: 50%;
    min-width: 110px;
    max-width: 110px;
    height: auto;
  }
  .gallery {
    position: absolute;
    left: 50px;
    width: 95%;
  }
  .link {
    position: absolute;
    left: unset;
    right: 20px;
  }
  .sep {
    border: 0px;
  }
}
